body {
    margin: 0;
    padding: 0;
}
main {

    background-color: #263535;
}
.card img {
    border-radius: 50%;
}
.offcanvas-body {
    background-color: #263535;
}

.card-images {
    height: 50;
    width: 50;
    border-radius: 50%;
}

footer {
    background-color: #efe4ef;
}