{% extends "layout.html" %}

{% block title %}E-commerce{% endblock %}

{% block head %}
    <link href="/static/ecommerce.css" rel="stylesheet">
{% endblock %}

{% block main %}
    <div class="container pt-4">
        <div class="row">
            {% for product in products %}
                <div class="col-md-4 mb-4">
                    <div class="card" style="width: 18rem;">
                        <img src="{{ product.image_url }}" class="card-img-top" alt="{{ product.product_name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.product_name }}</h5>
                            <p class="card-text">${{ product.price }}</p>

                            <!-- Add to Cart Form -->
                            <form action="/ecommerce" method="POST">
                                <input type="hidden" name="product_title" value="{{ product.product_name }}">
                                <input type="hidden" name="product_price" value="{{ product.price }}">
                                <button type="submit" class="btn btn-outline-warning">Add to cart</button>
                            </form>

                            <button type="button" class="btn btn-outline-success">Buy Now</button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
